@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	background: #f9f7f2;
}

/*##########################################
	Main content
##########################################*/

.slider {
	position: absolute;
	width: 879px;
	height: 440px;
	left: 243px;
	top: 110px;
	/*border: 3px solid red;*/

	background: #FFFFFF;
}

.main_img {
	position: absolute;
	width: 440px;
	height: 440px;
/*	left: 243px;
	top: 110px;*/
}

.main_header {
	position: absolute;

	width: 373px;
	height: 35px;
	left: 469px;
	top: 104px;

	/*font-family: KivitPro;
	font-size: 29px;*/
	font-size: 25px;
	font-family: arial;
	line-height: 35px;
	letter-spacing: 0.03em;

	color: #000000;
}

.main_para {
	position: absolute;
	width: 363px;
	height: 146px;
	left: 469px;
	top: 158px;

	/*font-family: KievitPro;
	font-size: 17px;*/
	font-size: 16px;
	font-family: arial;
	line-height: 25px;

	color: #000000;
}

.main_link {
	position: absolute;
	width: 111px;
	height: 26px;
	left: 469px;
	top: 310px;

	/*font-family: KievitPro;
	font-size: 17px;*/
	font-size: 15px;
	font-family: arial;
	line-height: 25px;
	text-decoration: none;

	color: #000000;

	border-bottom: 3px solid #FF4641;
}


/*#########################################
	Comment
##########################################*/

.comment {
	position: absolute;
	width: 879px;
	height: 606px;
	left: 243px;
	top: 570px;

	background: #FFFFFF;

	overflow: hidden;
}

.comment_header {
	position: absolute;
	width: 293px;
	height: 35px;
	left: 31px;
	top: 35px;

	/*font-family: KievitPro;
	font-size: 29px;*/
	font-size: 26px;
	font-family: arial;
	line-height: 35px;

	letter-spacing: 0.03em;

	color: #000000;

}

.comment_container_1 {
	position: absolute;
	width: 300px;
	height: 410px;
	left: 31px;
	top: 91px;

	background: #F9F7F2;


}

.comment_ava {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 19px;
	top: 26px;
}

.comment_user {
	position: absolute;
	width: 129px;
	height: 17px;
	left: 59px;
	top: 34px;

	/*font-family: KievitPro;
	font-size: 15px;*/
	font-size: 14px;
	font-family: arial;
	line-height: 17px;

} 

.comment_city {
	position: absolute;
	width: 80px;
	height: 17px;
	left: 19px;
	top: 84px;

	/*font-family: KievitPro;
	font-size: 13px;*/
	font-size: 12px;
	font-family: arial;
	line-height: 17px;

	letter-spacing: 0.464286px;
	text-transform: uppercase;

	color: #FC4F1E;
}

.comment_city_about {
	position: absolute;
	width: 83px;
	height: 17px;
	left: 102px;
	top: 84px;

	/*font-family: KievitPro;
	font-size: 13px;*/
	font-size: 12px;
	font-family: arial;
	line-height: 17px;

	letter-spacing: 0.464286px;
	text-transform: uppercase;

	color: #212121;
}

.comment_description {
	position: absolute;
	width: 272px;
	height: 177px;
	left: 19px;
	top: 113px;

	/*font-family: Roboto;*/

	font-family: arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	/* or 167% */


	color: #000000;
}

.comment_img_1 {
	position: absolute;
	width: 64px;
	height: 50px;
	left: 3px;
	top: 298px;
}

.comment_img_2 {
	position: absolute;
	width: 64px;
	height: 50px;
	left: 73px;
	top: 298px;


	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.comment_img_3 {
	position: absolute;
	width: 65px;
	height: 50px;
	left: 141px;
	top: 298px;


}

.comment_img_4 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 214px;
	top: 298px;
	color: rgba(16, 16, 16, 0.4);

}

.comment_last_img {
	background: url("img/bars_1.jpeg");
	background-color: rgba(16, 16, 16, 0.3);
	position: absolute;
	width: 50px;
	height: 50px;
	left: 214px;
	top: 298px;
}

.comment_add_img {
	position: absolute;
	width: 20px;
	height: 25px;
	left: 228px;
	top: 314px;

	/*font-family: Roboto;*/

	font-family: arial;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;

	color: #FFFFFF;
}

.comment_data {
	position: absolute;
	width: 99px;
	height: 25px;
	left: 19px;
	top: 374px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 25px;

	color: #9D9D9D;
}

.comment_dot {
	position: absolute;
	width: 4px;
	height: 25px;
	left: 129px;
	top: 372px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 25px;

	color: #8F8F8E;
}

.comment_number {
	position: absolute;
	width: 86px;
	height: 25px;
	left: 138px;
	top: 374px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 25px;

	color: #9D9D9D;

}

.comment_like {
	position: absolute;
	width: 12px;
	height: 15px;

	left: 253px;
	top: 376px;

}

.comment_amount {
	position: absolute;
	width: 7px;
	height: 25px;
	left: 273px;
	top: 372px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	color: #9D9D9D;
}

.comment_container_2 {
	position: absolute;
	width: 300px;
	height: 410px;
	left: 351px;
	top: 91px;

	background: #F9F7F2;

}

.comment_container_3 {
	position: absolute;
	width: 300px;
	height: 410px;
	left: 671px;
	top: 91px;

	background: #F9F7F2;
}

.comment_hidde {
	position: absolute;
	width: 30px;
	height: 100%;
	left: 179px;


	background: #FFFFFF;
	/*box-shadow: -1px 0px 1px #000000;*/

}


.comment_all {
	position: absolute;
	width: 124px;
	height: 40px;
	left: 31px;
	top: 533px;

	border: 2px solid #FF4641;
	box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
	background: #FFFFFF;
}

.comment_btn {
	position: absolute;
	width: 77px;
	height: 17px;
	left: 24px;
	top: 12px;

	/*font-family: KievitPro;
	font-size: 15px;*/
	font-size: 14px;
	font-family: arial;
	line-height: 10px;

	color: #212121;
}

.comment_scroll_1 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 754px;
	top: 549px;

	background: #FF4641;
	border-radius: 5px;
}

.comment_scroll_2 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 774px;
	top: 551px;

	background: #212121;
	border-radius: 5px;
}

.comment_scroll_3 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 792px;
	top: 551px;

	background: #212121;
	border-radius: 5px;
}

.comment_scroll_4 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 810px;
	top: 551px;

	background: #212121;
	border-radius: 5px;
}

.comment_scroll_5 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 828px;
	top: 551px;

	background: #212121;
	border-radius: 5px;
}

.comment_scroll_6 {
	position: absolute;
	width: 4px;
	height: 4px;
	left: 846px;
	top: 551px;

	background: #212121;
	border-radius: 5px;
}

/*########################################
	Chat
########################################*/

.chat_header_user {
	position: absolute;
	width: 289px;
	height: 35px;
	left: 243px;
	top: 1226px;

	/*font-family: KievitPro;
	font-size: 29px;*/
	font-size: 26px;
	font-family: arial;
	line-height: 35px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #000000;
}

.chat_header_admin {
	position: absolute;
	width: 332px;
	height: 35px;
	left: 707px;
	top: 1226px;

	/*font-family: KievitPro;
	font-size: 29px;*/
	font-size: 26px;
	font-family: arial;
	line-height: 35px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #000000;
}

/*#### Chat user ########################3*/

.chat_user_container {
	position: absolute;
	width: 415px;
	height: 698px;
	left: 243px;
	top: 1286px;

	background: #FFFFFF;
}

.chat_user_container_header {
	position: absolute;
	width: 415px;
	height: 98px;

	background: #FFFFFF;
}

.chat_user_img {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 26px;
	top: 27px;
	border-radius: 30px;
}

.chat_user_name {
	position: absolute;
	width: 164px;
	height: 17px;
	left: 89px;
	top: 28px;

	/*font-family: KievitPro;
	font-size: 18px;*/
	font-size: 17px;
	font-family: arial;
	line-height: 17px;

	color: #000000;
}

.fa-flag {
	color: red;
	position: absolute;
	width: 7.27px;
	height: 10px;
	left: 89px;
	top: 55px;

	background: #FF4641;
}

.chat_user_about {
	position: absolute;
	width: 150px;
	height: 17px;
	left: 110px;
	top: 52px;

	/*font-family: KievitPro;
	font-size: 13px;*/
	font-size: 12px;
	font-family: arial;
	line-height: 17px;

	color: #FF4641;
}

.star_1 {
	position: absolute;
	width: 12.75px;
	height: 12px;
	left: 320px;
	top: 43px;

	color: #F5A623;
}

.star_2 {
	position: absolute;
	width: 12.75px;
	height: 12px;
	left: 335px;
	top: 43px;

	color: #F5A623;
}

.star_3 {
	position: absolute;
	width: 12.75px;
	height: 12px;
	left: 351px;
	top: 43px;

	color: #F5A623;
}

.star_4 {
	position: absolute;
	width: 12.75px;
	height: 12px;
	left: 367px;
	top: 43px;

	color: #F5A623;
}

.star_5 {
	position: absolute;
	width: 12.75px;
	height: 12px;
	left: 383px;
	top: 43px;

	color: #F1EBDB;
}

/*#### Chat admin ########################3*/

.chat_admin_container {
	position: absolute;
	width: 415px;
	height: 698px;
	left: 707px;
	top: 1286px;

	background: #FFFFFF;
}

.chat_admin_container_header {
	position: absolute;
	width: 415px;
	height: 98px;

	background: #FFFFFF;
}

/*## Chat scroll #################*/

.chat_scroll {
	position: absolute;
	top: 98px;
	width: 100%;
	height: 500px;
	overflow: scroll;
}

.chat_scroll_item {
	position: relative;
	height: 210px;
	width: 100%;
}

.chat_scroll_img {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 12px;
	top: 12px;
	border-radius: 20px;
}

.chat_scroll_para {
	position: absolute;
	width: 295px;
	height: 167px;
	left: 75px;
	top: 14px;

	/*font-family: KievitPro;
	font-size: 15px;*/
	font-size: 14px;
	font-family: arial;
	line-height: 24px;

	color: #000000;
}

.chat_user_data_msg {
	position: absolute;
	width: 70px;
	height: 25px;
	left: 69px;
	top: 180px;

	/*font-family: Roboto;*/
	font-family: arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 25px;

	text-align: right;

	color: #9D9D9D;
}


/*### Input ############*/

.chat_input {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;

}

.input_form {
	position: absolute;
	width: 270px;
	height: 49px;
	left: 89px;
	top: 30px;

	background: #FFFFFF;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
}

.fa-paper-plane {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 374px;
	top: 30px;

	color: #FF4641;
}

.divider {
	position: absolute;
	width: 3px;
	height: 758px;
	left: 682px;
	top: 1226px;

	background: #EBE9E4;
	margin-bottom: 134px;
}

